@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>"I will shamelessly steal all of your data with no remorse for legal reasons this is a joke and not to be take seriosly."</p>
